<h1> find the song that's been stuck in your head! </h1>
<form action='/search' method='get'> 

	<input name='query' placeholder='type lyrics here' type='text'> 
	<input type='submit' value= "I am feeling lucky">

</form>
